/03-Futbol-Herentzia/build/
/2022-02-24-Peru/2022-02-24Hasierakoa/build/
/4UD/NetBeansProjects/StreamekinLanean/nbproject/private/
/NetBeansProjects/Streamekin Lanean/nbproject/private/
/Streamekin Lanean/nbproject/private/
/Streamekin Lanean/build/
/HiztegiaTextFileMVCPOJO/nbproject/private/
/HiztegiaTextFileMVCPOJO/build/
